/target/
/oxm/
.idea/
.settings/
debug-logs/
.project
/logs/
**/oxm/**
**/dbedgerules/**
*.iml
.settings/
.project
.classpath
*.DS_Store
src/main/resources/etc/scriptdata/addmanualdata/tenant_isolation/payload/
